$black: #333333;
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    margin: 80px 0;
    color: $black;
    * {
        color: $black;
        font-size: 21px;
    }
    div {
        &.line {
            line-height: 30px;
            text-align: center;
            height: 65px;
            margin: 0px;
            display: table-cell;
            vertical-align: middle;
        }
    }
    input {
        border: none !important;
        padding-bottom: 5px;
        background-image: none !important;
        background-color: transparent !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        margin: 0 15px;
        text-align: center;
        border-bottom: 2px solid $black !important;
        color: #2179ee;
        &:focus {
            outline: none;
        }
        &[name="age"],
        &[name="horizon"] {
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            -moz-appearance: textfield;
            max-width: 35px;
            width: 35px;
        }
    }
    .selectpicker {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 0;
        outline: none;
        background-color: transparent;
        border: none;
        text-align: center;
        color: #2179ee;
        margin-left: 15px;
        border-bottom: 2px solid $black !important;
    }
    .long-text {
        max-width: 180px;
        width: 180px;
    }
    .react-select-container {
        line-height: 1;
        input {
            border-bottom: none !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}

@media (max-width:991px) {
    .information {
        font-size: 21px;
        div {
            &.line {
                &:first-child{
                    margin-bottom: 20px;
                }
            }
        }
        * {
            font-size: 21px;
        }
    }
}

@media (max-width: 767px) {
    .information {
        font-size: 20px;
        div {
            &.line {
                &:first-child{
                    margin-bottom: 50px;
                }
            }
        }
        * {
            font-size: 20px;
        }
    }
}