$black: #333333;
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin: 80px 0;
    color: $black;
    div {
        &.inline-text {
            display: inline-block;
            margin-left: 10px;
        }
        &.line {
            line-height: 30px;
            text-align: center;
            height: 65px;
            margin: 0px;
            display: table-cell;
            vertical-align: middle;
        }
    }
    input {
        border: none !important;
        padding-bottom: 5px;
        background-image: none !important;
        background-color: transparent !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        margin: 0 15px;
        text-align: center;
        border-bottom: 2px solid $black !important;
        color: #2179ee;
        &:focus {
            outline: none;
        }
        &[name="age"],
        &[name="horizon"] {
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            -moz-appearance: textfield;
            max-width: 35px;
            width: 35px;
        }
    }
    .long-text {
        max-width: 180px;
        width: 180px;
    }
    .ui.dropdown {
        .text {
            font-weight: normal;
        }
        >div{
            color: #0076ff;
            font-weight: normal;
            &.default{
                color:#777777;
            }
        }
        .menu{
            width:100%;
        }
        border-bottom: 2px solid #333333;
        padding-bottom: 5px;
    }
}

@media (max-width:991px) {
    .information {
        div {
            &.line {
                &:first-child{
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .information {
        div {
            &.line {
                &:first-child{
                    margin-bottom: 50px;
                }
            }
        }
    }
}