.plan {
    * {
        color: #333333;
    }
    border-radius: 8px;
    box-shadow: 0 6px 28px 0 rgba(51, 51, 51, 0.1);
    overflow: hidden;
    img {
        width: 100%;
        max-width: 100%;
    }
    .plan-image {
        min-height: 235px;
        height: 235px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h3 {
        font-size: 21px;
        font-weight: bold;
    }
    .data {
        padding: 24px;
        padding-bottom: 0;
        div.custom-row {
            font-size: 14px;
            border-bottom: 2px solid #d8d8da;
            padding-bottom: 7px;
            margin-top: 10px;
            &:first-child {
                margin-top: 16px;
            }
            &:last-child {
                border: none;
            }
            span {
                &:first-child {
                    color: #787878;
                }
                &:last-child {
                    text-align: right;
                    float: right;
                }
            }
        }
    }
    .chart {
        margin-top: 24px;
        margin-bottom: 24px;
        .chart-title {
            padding: 0 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                font-size: 14px;
                span {
                    color: #787878;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .plan-image {
        display: none;
    }
}