.recommendation {
    div[class*="col-"] {
        margin-bottom: 10px;
    }
    .result-title{
        text-align: center;
        max-width: 80%;
        font-size: 21px;
        line-height: 1.33;
        margin: 0 auto;
        margin-bottom: 48px;
    }
}