h1.goal-calculator-title {
    font-size: 28px;
    margin-bottom: 24px;
    text-align: center;
    color: #333333;
}
#box {
    padding: 66px 20px;
    background-color: white;
    // margin-top: 65px;
    margin-bottom: 65px;
    border: 1px solid  #d7d7d9;
    border-radius: 6px;
    box-shadow: 0 15px 36px 1px rgba(51, 51, 51, 0.1);
    -moz-box-shadow: 0 15px 36px 1px rgba(51, 51, 51, 0.1);
    -webkit-box-shadow: 0 15px 36px 1px rgba(51, 51, 51, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;

    .button-group {
        text-align: center;
        * {
            font-size: 14px;
        }
        button {
            width: 150px;
            outline: none;
            box-shadow: none;
            padding: 10px 0;
            &:focus {
                outline: none;
            }
        }
        .light {
            background-color: #eaeaea;
            color: #727272;
            margin-right: 24px;
        }
        .primary {
            background-color: #2179ee;
            color: white;
        }
    }
}
@media (max-width: 767px) {
    .button-group {
        button {
            &:first-child {
                margin-bottom: 20px;
            }
            display: block;
            width: 100% !important;
            margin: 0;
        }
    }
}