#main {
    overflow: hidden;
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    background-color: #fafafa;
};