$black: #333333;

nav {
    ul {
        a {
            color: $black !important;
        }
    }
    form {
        a {
            color: $black !important;
        }
    }
    img.logo {
        width: 140px;
        max-height: 30px;
    }
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1440px;
    margin: 0 auto;
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
    border-bottom: 2px solid #d7d7d9;
}