$black: #333333;
nav {
    background-color: white;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    * {
        font-size: 16px;
    }
    .navbar-toggler {
        outline: none;
        &:focus {
            outline: none;
        }
    }
    ul {
        li {
            margin: 0 10px;
        }
        a {
            color: $black !important;
        }
    }
    form {
        a {
            color: $black !important;
            &:first-child {
                border: none !important;
            }
            &:nth-child(2) {
                border-color: $black;
                &:hover {
                    border-color: $black;
                }
            }
            &:last-child {
                color: white !important;
                background-color: #2179ee;
                border-color: #2179ee;
                &:hover {
                    color: white !important;
                    border-color: #2179ee;
                    background-color: #2179ee;
                }
            }
        }
    }
    img.logo {
        width: 140px;
        max-height: 30px;
    }
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1440px;
    margin: 0 auto;
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
    border-bottom: 2px solid #d7d7d9;
    form {
        a {
            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }
}

@media (max-width: 991px) {
    nav {
        * {
            font-size: 14px;
        }
        ul li {
            margin: 0;
        }
        .logo {
            width: 120px !important;
        }
        form {
            a {
                font-size: 14px !important;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
};


@media (max-width: 767px) {
    nav {
        form {
            margin: 50px 0;
            a {
                &:first-child {
                    text-align: left;
                    margin-right: 0;
                }
                &:nth-child(2) {
                    margin-right: 0 !important;
                }
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                display: block !important;
            }
        }
    }
}

