.modal {
    .modal-content {
        padding: 40px;
    }
    * {
        padding: 0;
    }
    .modal-header {
        border-bottom: none;
    }
    .modal-body {
        border-bottom: none;
        font-size: 14px;
        line-height: 1.43;
        color: #6d7f99;
        .description {
            margin-top: 20px;
        }
        .target-allocation {
            margin-top: 20px;
            color: #1a375f;
            .green {
                color: #3fb252;
            }
        }
    }
    .modal-footer {
        border-top: none;
    }
    h5 {
        font-size: 26px;
        font-weight: 700;
        line-height: 1.32;
        color: #1a375f;
        margin-top: 10px;
    }
    table {
        margin-top: 30px;
        * {
            border: none !important;
        }
        thead {
            tr {
                background-color: white;
            }
            th {
                font-size: 12px !important;
                font-weight: 700;
                line-height: 1.33;
                color: #1a375f;
                padding: 0;
                padding-bottom: 10px;
            }
        }
        tbody {
            tr {
                td {

                    padding: 20px 10px !important;
                }
                font-size: 14px;
                line-height: 1.43;
                color: #6d7f99;
                background-color: #f9f9fa;
                border-bottom: 2px solid white !important;
            }
        }
    }
}